<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shaoyafan.jobhubbackend.mapper.InvitationMapper">

    <resultMap id="BaseResultMap" type="com.shaoyafan.jobhubbackend.model.domain.Invitation">
            <id property="id" column="id" />
            <result property="recId" column="rec_id" />
            <result property="canId" column="can_id" />
            <result property="jobId" column="job_id" />
            <result property="status" column="status" />
            <result property="createTime" column="create_time" />
            <result property="updateTime" column="update_time" />
    </resultMap>

    <sql id="Base_Column_List">
        id,rec_id,can_id,job_id,status,create_time,
        update_time
    </sql>
</mapper>
